<section class="hero-content">
  <h1 class="hero-title"></h1>
</section>

<section>
</section>

<script>
$( document ).ready(function() {
  $(function(){
      $(".hero-title").typed({
        strings: ["Survive the elements", "Survive your employees", "Survive employment laws"],
        typeSpeed: 10
      });
  });
});
</script>

