<section class="landing giraffe-content hero-content">
  </section>
  <div>
    <h1 class="hero-front">HR Survival for Business</h1>
    <p class="hero-paragraph text-center">Step outside of the wild world of human resources and employment law hell and walk into a website designed with your sanity in mind.  hrsurvival is equipped with all of the necessary tools and weapons to help you comply with Virginia and federal labor law regulations.  We'll show you how to use them and we'll also be there for you in times of a surprise ambush from big game.</p>
  </div>
    <h2><%= link_to "ENTER", "/books/1/chapters/1/tableofcontents/1", class: "hero-title text-center" %></h2>
