<section class="landing giraffe-content hero-content">
  </section>
  <div>
    <h1 class="hero-front">HR Survival for Business</h1>
    <p class="hero-paragraph text-center">HR Survival for business is a free, open-source employment law database with experienced attorneys who author our resources.<br><br>Providing hundreds of in-depth topics, you and your team can enjoy this online employment law library without compromising time and expense.</p>
  </div>
    <h2><%= link_to "ENTER", "/books/1/chapters/1/tableofcontents/1", class: "hero-title text-center" %></h2>
