<section class="hero-content">
  <h1 class="hero-title"></h1>
</section>

<section>
</section>

<script>
$( document ).ready(function() {
  $(function(){
      $(".hero-title").typed({
        strings: ["Survive ^1000 the elements", "Survive ^1000 your employees", "Survive ^1000 employment laws"],
        typeSpeed: 45,
         loop: true
      });
  });
});
</script>

