<body class="landing">
  <section class="landing giraffe-content hero-content">
    </section>
    <div>
    
    <div class="hero-paragraph text-center">
      <div><%= render partial: '/emails/form' %></div>
    </div>
</body>