<section class="hero-content">
  <h1 class="hero-title">We Cover Virgina </h1>
</section>

<section class="row">
  <div class="col-md-4 text-center">
    <span class="glyphicon glyphicon-user"></span>
    <h5 class="point-title">Top Attorney Insights</h5>
    <p class="point-description">Local attorneys help you understand what to do, how to do it, and a little bit of the why</p>
  </div>
  <div class="col-md-4 text-center">
    <span class="glyphicon glyphicon-time"></span>
    <h5 class="point-title">Reliable Answers Fast</h5>
    <p class="point-description">Our resources address areas from hiring to termination and everything in between</p>
  </div>
  <div class="col-md-4 text-center">
    <span class="glyphicon glyphicon-book"></span>
    <h5 class="point-title">Plain English Guides</h5>
    <p class="point-description">No legalese or footnotes — you'll know how to comply with state and federal laws</p>
  </div>
</section>

<script>
$( document ).ready(function() {
  $(function(){
      $(".hero-title").typed({
        strings: ["...", "^1000Employment Law", "^1000Policies & Forms", "^1000Safety & Health", "^1000Minimum Wage", "^1000Recruiting & Termination", "^1000Background Checks"],
        typeSpeed: 115,
        backSpeed: 45,
        backDelay: 500,
        loop: true,
        showCursor: true,
        cursorChar: "|",
      });
  });
});
</script>

