<%= display_meta_tags %>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="new-welcome-image">
      <div class="col-xs-12 jumbotron new-welcome-1 text-center">
          <h1>Find your answers, right now, for free.</h1>
          <p><span class="dark-blue">Virginia and federal employment law<br> Authored and updated by Andrew (Andy) T. Wampler at Wilson Worley, Attorneys at Law.</span><p>
        <hr class='style18'>
          <br>
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- smallest -->
          <ins class="adsbygoogle"
               style="display:inline-block;width:125px;height:125px"
               data-ad-client="ca-pub-2109246747658646"
               data-ad-slot="9826397212"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
      </div>
    </div>
    <div class="col-xs-12 i">
      <div class="text-center">
        <h1>Employment Law by Andy Wampler</h1>
        <hr class="yellow-line">
        <% @book.chapters.in_groups_of(3, false).each do |group| %>
          <% group.each do |t| %>
            <div class="text-center col-sm-4 col-md-4 col-lg-4">
              <h4><%= link_to t.title, [@book, t] %></h4>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="about-andrew-i">
        <h1 class="text-center">About Andrew Wampler</h1>
        <div class="col-sm-6 col-md-6 col-lg-6 text-center">
          <span class="andrew"><%= image_tag(@book.avatar.url) %></span>  
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 about-andrew-u">
          <p>Andy Wampler grew up in the Tri-Cities. His practice includes business advising, healthcare, employment, business and commercial litigation, and class actions.  He has been involved in the litigation as counsel for both plaintiffs and defendants. He practices in the state and federal courts throughout East Tennessee and Southwest Virginia. Mr. Wampler negotiates contracts and works with business formation and organization.  He serves several groups as counselor and volunteer.  Mr. Wampler has written and spoken on legal topics, with his work cited by the Sixth Circuit Court of Appeals and used by Met Life for training, among others.  He has taught college literature and composition classes and presented at local, regional, and national conferences.  He lives in Kingsport with his wife Jenny and their three children.</p> 
          <div class="contact-andrew">
            <a href="http://wwmgs.com/contact-us/">Contact Andrew Wampler</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 text-center footer">
      <br>
      <div class="text-center">Looking for another state?</div>
      <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <a href="https://hrsimple.com/az", onclick="return confirm('We are redirecting you to hrsimple.com.  Thank you for visiting hrsurvival.com')", class="footer-text">Arizona</a><br>
        <a href="https://hrsimple.com/co", onclick="return confirm('We are redirecting you to hrsimple.com.  Thank you for visiting hrsurvival.com')", class="footer-text">Colorado</a><br>
        <a href="https://hrsimple.com/fl", onclick="return confirm('We are redirecting you to hrsimple.com.  Thank you for visiting hrsurvival.com')", class="footer-text">Florida</a><br>
        <a href="https://hrsimple.com/ga", onclick="return confirm('We are redirecting you to hrsimple.com.  Thank you for visiting hrsurvival.com')", class="footer-text">Georgia</a><br>
      </div>
      <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <a href="https://hrsimple.com/ia", onclick="return confirm('We are redirecting you to hrsimple.com.  Thank you for visiting hrsurvival.com')", class="footer-text">Iowa</a><br>
        <a href="https://hrsimple.com/il", onclick="return confirm('We are redirecting you to hrsimple.com.  Thank you for visiting hrsurvival.com')", class="footer-text">Illinois</a><br>
        <a href="https://hrsimple.com/ks", onclick="return confirm('We are redirecting you to hrsimple.com.  Thank you for visiting hrsurvival.com')", class="footer-text">Kansas</a><br>
        <a href="https://hrsimple.com/me", onclick="return confirm('We are redirecting you to hrsimple.com.  Thank you for visiting hrsurvival.com')", class="footer-text">Maine</a><br>
      </div>
      <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <a href="https://hrsimple.com/md", onclick="return confirm('We are redirecting you to hrsimple.com.  Thank you for visiting hrsurvival.com')", class="footer-text">Maryland</a><br>
        <a href="https://hrsimple.com/ma", onclick="return confirm('We are redirecting you to hrsimple.com.  Thank you for visiting hrsurvival.com')", class="footer-text">Massachusetts</a><br>    
        <a href="https://hrsimple.com/mn", onclick="return confirm('We are redirecting you to hrsimple.com.  Thank you for visiting hrsurvival.com')", class="footer-text">Minnesota</a><br>
        <a href="https://hrsimple.com/mo", onclick="return confirm('We are redirecting you to hrsimple.com.  Thank you for visiting hrsurvival.com')", class="footer-text">Missouri</a><br>
      </div>
      <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <a href="https://hrsimple.com/ne", onclick="return confirm('We are redirecting you to hrsimple.com.  Thank you for visiting hrsurvival.com')", class="footer-text">Nebraska</a><br>
        <a href="https://hrsimple.com/nj", onclick="return confirm('We are redirecting you to hrsimple.com.  Thank you for visiting hrsurvival.com')", class="footer-text">New Jersey</a><br>
        <a href="https://hrsimple.com/ny", onclick="return confirm('We are redirecting you to hrsimple.com.  Thank you for visiting hrsurvival.com')", class="footer-text">New York</a><br>
        <a href="https://hrsimple.com/nc", onclick="return confirm('We are redirecting you to hrsimple.com.  Thank you for visiting hrsurvival.com')", class="footer-text">North Carolina</a><br>
      </div>
      <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <a href="https://hrsimple.com/oh", onclick="return confirm('We are redirecting you to hrsimple.com.  Thank you for visiting hrsurvival.com')", class="footer-text">Ohio</a><br> 
        <a href="https://hrsimple.com/ok", onclick="return confirm('We are redirecting you to hrsimple.com.  Thank you for visiting hrsurvival.com')", class="footer-text">Oklahoma</a><br> 
        <a href="https://hrsimple.com/or", onclick="return confirm('We are redirecting you to hrsimple.com.  Thank you for visiting hrsurvival.com')", class="footer-text">Oregon</a><br> 
        <a href="https://hrsimple.com/pa", onclick="return confirm('We are redirecting you to hrsimple.com.  Thank you for visiting hrsurvival.com')", class="footer-text">Pennsylvania</a><br> 
      </div>
      <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <a href="https://hrsimple.com/sc", onclick="return confirm('We are redirecting you to hrsimple.com.  Thank you for visiting hrsurvival.com')", class="footer-text">South Carolina</a><br>
        <a href="https://hrsimple.com/tn", onclick="return confirm('We are redirecting you to hrsimple.com.  Thank you for visiting hrsurvival.com')", class="footer-text">Tennessee</a><br>
        <a href="https://hrsimple.com/tx", onclick="return confirm('We are redirecting you to hrsimple.com.  Thank you for visiting hrsurvival.com')", class="footer-text">Texas</a><br>
      </div>
    </div>
    <div class="col-xs-12 footer-2">
      <hr>
      <div class="col-sm-6 col-md-6 col-lg-6"><br>
        <p><%= fa_icon "copyright" %> 2016 hrsurvival.  All rights reserved.</p>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 text-right"><br>
          <p>855-477-4675</p>
      </div>
    </div>
  </div>
</div>