<%= form_tag(searches_path, :method => 'get') do %>
<div class="row search">
  <div class="col-lg-8 pull-right">
    <div class="input-group">
      <%= text_field_tag :query, params[:query], class: 'form-control', placeholder: "Search" %>
      <span class="input-group-btn">
        <%= button_tag( "Submit", class: "btn btn-default ") %>
      </span>
    </div>
  </div>
</div>
<% end %>