<% if @tableofcontent_search != nil %>
  <% @tableofcontent_searches.with_details.each do |tableofcontent_search, details| %>
      <h3><%= link_to chapter.title, [chapter.book, chapter], class: "search-title" %></h3>
      <div class="search-results-filter"><%= simple_format word_wrap details[:highlight][:body], class: "search-results-filter" %>
      </div><hr>
  <% end %>
<% else %>
  <p>We could not find anything relating to your search.  Please try again or check spelling.</p>
<% end %>