<% if @tableofcontent_search != nil %>
  <% @tableofcontent_searches.with_details.each do |tableofcontent_search, details| %>
    <% if tableofcontent_search.class == Tableofcontent %>
      <h3><%= link_to tableofcontent_search.title, [tableofcontent_search.chapter.book, tableofcontent_search.chapter, tableofcontent_search], class: "search-title" %></h3>
      <div class="search-results-filter"><%= simple_format word_wrap details[:highlight][:body], class: "search-results-filter" %>
      </div><hr>
    <% end %>
  <% end %>
<% else %>
  <p>We could not find anything relating to your search.  Please try again or check spelling.</p>
<% end %>