/* 
*= require jquery-ui
*= require social-share-button
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "welocome";
@import "chapters";
@import "books";
@import "search";
@import "font-awesome";
@import "articles";
@import "emails";
@import "ckeditor/contents";


html {
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
  font-size: 100%;
}


body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 31px;
  min-height: 100%;
  font-size: 100%;
}

.ui-menu {
  border-radius: 5px;
  &:hover {
    color: #000;
  };
}

.search {
  margin-top: 10px;
  float: right !important;
}

@media (max-width: 992px) {
/*.search {
    float: none !important;
    clear: right;
  }*/
}

.google-adsense {
  margin-top: 25px;
  
}
.ui-autocomplete .ui-menu-item .ui-state-focus{
  border-radius: 5px;
  color: black;
  &:hover {
    color: #000;
  };
  
}

.ui-state-focus{
    color: red;
}

.navbar-default {
  background-color: #fff;
  border-bottom: none;
  box-shadow: 0px .3px 2px #888888;

  }

.giraffe-website{
  position: fixed; 
  margin-top: -70px;
  min-width: 100%;
  height: 100%;
  background-image: image-url("cat-giraffe-copy.png");
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.navbar-default .navbar-brand {
  color: #074792;
    &:hover {
      color: #2178DE;
    }

}

.navbar-default .navbar-nav > li > a {
  color: #074792;
    &:hover {
      color: #2178DE;
    }
}

.navbar-form .form-control {
  width: 400px;
}

.index-background {
  background-color: #000;
}

a {
  color: #074792;

  &:hover {
    color: #2178DE;
  }
}


td {
  padding-left: 8px;
  padding-right: 8px;
}

th {
   text-align: center; 
}

.btn-default {
    color: #fff;
    background-color: #074792;
    border-color: #074792;

    &:hover {
      background-color: #2178DE;
      color: #fff;
      border-color: #2178DE;
    };
}

.chapter-col {
  padding-left: 2.6rem;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 150px;
    color: #fff;
    background-color: #022145;
    margin-top: 30px;
    border-top: 15px solid #134D91;
}


