@import "bootstrap-sprockets";
@import "bootstrap";
@import "welocome";
@import "chapters";


html {
  height: 100%;
  font-size: 100%;
}

.navbar {
  border-bottom: 5px solid #2C3Ef50;

}

.navbar-default {
  background-color: #fff;
  border: none;

  }

.navbar-default .navbar-brand {
   color: #E74C3C;
}

.navbar-default .navbar-nav > li > a {
    color: #2C3E50;
}


body {
  padding-top: 70px;
}

body.landing {
  background-color: #fff;
}

a {
  color: #2C3E50;

  &:hover {
    color: #E74C3C;
  }
}

active {
  color: #E74C3C;
  }

.border-col {
  border-right: 1px solid #D3D3D3;
}

.chapter-col {
  padding-left: 2.6rem;
}