@import "bootstrap-sprockets";
@import "bootstrap";
@import "welocome";

html {
  height: 100%;
  font-size: 100%;
}

.navbar-default {
  background-color: #fff;
}

body {
  color: white;
  min-height: 100%;

}

body.landing {
  background-color: #fff;
}

h1 {
 color: #9FB4CC
}

h2, h3, h4, h5 {
  color: #DB4105
}

p {
  color: #33332D
}