.col-md-3-article {
  padding-left: 25px;
  padding-right: 15px;
  background-color: #fff;
}

.article-email {
  background-color: #000;
}

.col-md-adjust-body {
  border-left: 1px solid #d3d3d3;
  overflow-y: scroll;
  height: 90vh;
  position: relative;
  display: block;
  top:20px;
}