
.book-page-header {
  height: 12rem;
  background-color: #008385;
  background-image: image-url("giraffe.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}


.book-page-title {
  padding-top: 1.5rem;
  border-size: border-box;
  color: #fff;
  
}

.book-page-toc {
  padding-top: -0.5rem;
  border-size: border-box;
  color: #000;
}
