

.col-md-9 {
  padding-left: 0;
  padding-right: 0;
}

.col-md-3{
  padding-left: 0;
  padding-right: 0;
}

.collapse-box  {
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.panel-group{

}

.panel-title {
  font-size: 1.5rem;
  margin-left: 25px;
  font-weight: 200;
}

@media (max-width: 990px) {
}

.col-md-3 {
  margin-top: 10px;
  background-color: #f5f5f5;
}

.col-md-2 {
  margin-top: 20px;
}

.panel-default > .panel-heading {
  color: #074792;
  background-color: #fff;
  border-right: 1px solid #452D00;
}

.panel-heading {
  border-bottom: none;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}


.panel-group {
  margin-bottom: 0px;
  color: #fff;
  border: none;
}

.panel-default {
  border: 0px;
  color: #fff;
}

.chapter-page-header {
  height: 6rem;
  background-color: #fff;
  /*background-image: image-url("giraffe.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;*/
  margin-top: 20px;
  padding-left: -15px;
  padding-right:-15px;
}

.chapter-page-title {
  padding-top: 1rem;
  border-size: border-box;
  color: #fff;
}

.chapter-page-toc {
  padding-top: 21px;
  border-size: border-box;
  color: #003838;
  font-weight: 200;
}

.toc-title {
  background-color: #fff;
  padding-top: 1rem;
  padding-left: 15px;
  color: #452D00;
  font-weight: 200;

}

.toc-title-panel {
  font-weight: 200;
  color: #853200;
}

.toc-body{
  padding-left: 20px;
  padding-right: 15px;
}

.author-avatar {
  background-color: #fff;
  height: 150px;
  border-right: 1px solid #452D00;
}

.author-avatar img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-top: 15x;
  border: 2px solid #fff;
}

.book-title {
  background-color: #fff;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  font-weight: 200;
  border-right: 1px solid #452D00;

}

.written-by {
  text-transform: uppercase;
  margin-top: 5px;
  font-weight: 200;
}
.author-name {
  margin-bottom: 5px;
  font-weight: 200;
}

.social-media-links {
  padding-bottom: 10px;
}

.fa-facebook-official{
  color: #777;
  &:hover {
    
    color: #3b5998;
  };
}

.fa-twitter {
  color: #777;
  &:hover {
    color: #4099FF;
    text-decoration: none;
  }
}

.fa-youtube-square {
  color: #777;
  &:hover {
    color: #b31217;
    text-decoration: none;
  };
}

.fa-tumblr-square {
  color: #777;
  &:hover {
    color: #b31217;
    text-decoration: none;
  };
}

.fa-linkedin-square {
  color: #777;
  &:hover {
    color: #007bb5;
    text-decoration: none;
  };
}

.glyphicon {
  font-weight: 200px;
}
.glyphicon-plus {
  margin-top: 7px;
  font-size: 10px !important;
  float: right;
}