.search-body {
  margin-top: 3rem;

  }

.search-title {
  color: #008385;
  display: inline;
}

.search-title{
  color: #074792;
  display: inline;
}

.search-results-filter {
  font-size: 1rem;
}

.search-results-filter h2 {
  font-size: 1rem;
}


.search-results-filter div, 
.search-results-filter br,
.search-results-filter tr,
.search-results-filter h3,
.search-results-filter h4,
.search-results-filter th,
.search-results-filter td,
.search-results-filter table,{
  font-size: 5rem;
  display: none;
}

