html {
  width: 100%;
}

body.landing {
  background-color: #000;
}

.giraffe-content {
  position: fixed; 
  min-width: 100%;
  height: 100%;
  margin-top: -30px;
  background-image: image-url("cat-giraffe-copy.png");
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: center center;
  background-size: cover; 
}

.selling-points .col-md-4 {
  background: #fff;
  height: 15rem;
  border: 5px solid black;
}


.hero-content-two {
  background-color: #2980B9;
  border-top: 4px solid #2C3E50;
  padding-top: 30px;
}


.hero-title {

     background-color: #008385;
     color: #fff;
     width: 25%;
     padding-top: 12px;
     margin-left: 37.5%;
     margin-right: 37.5%;
     position: absolute;            
     top: 55%;                     
     text-align: center;         
     font-size: 1rem; 
     height: 3rem;            
     font-weight: 500;            
     letter-spacing: 0.2rem;        
     &:hover {
      color: #fff;
      box-shadow: inset 0px 0px 10px #000000;
      text-decoration: none;
     };
 }

 .hero-front {
     color: #000;
     position: absolute;             /* positioning will be explained in a resource */
     top: 25%;                       /* positioning will be explained in a resource */
     width: 100%;                    /* makes sure the title inhabits the full width of its container */
     text-align: center;             /* aligns text in the horizontal center of the element */
     font-size: 2rem;                /* specifies the size of the font in root em units */
     font-weight: 300;               /* makes the font thinner or lighter weight */
     letter-spacing: 0.5rem;         /* puts 0.5 root ems worth of space between each letter */
     
 }

 .hero-front-search {
      width: 25%;
     padding-top: 12px;
     margin-left: 37.5%;
     margin-right: 37.5%;
     position: absolute;            
     top: 60%;     
 }

.hero-paragraph {
     color: #000;
     position: absolute;       
     top: 37%;
     margin-left: 150px;
     margin-right: 150px;                 
     text-align: center;           
 }

@media (max-width: 860px) {
  .hero-paragraph {
    top: 40%;
    margin-left: 45px;
    margin-right: 45px;
  }

   .hero-title {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    top: 75%
 }
}


@media (max-width: 720px) {
  .hero-content .hero-title {
    font-size: 1.5rem;
  }

  .hero-content {
    padding-top: 25px;
    min-height: 275px;
  }
}
 .selling-points {
    position: absolute;
    top: 75%;
    background-color: transparent;
 }

 .point {
    display: table-cell; 
    position: relative;
    width: 33.3%;
    padding: 2rem;
    text-align: center;
 }

.col-md-4 .point-title {
  font-size: 1.25rem;
  color: #2C3E50;
}

.point .point-description {
  color: #FFFF9D;
  padding: 20px 10px;
}

.glyphicon-book, 
.glyphicon-time,
.glyphicon-user {
  color: #2C3E50;
  font-size: 5rem;
}
  
.col-md-4 {
  padding-top: 40px;
}

.hero-content .typed-cursor{
    position: absolute;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
 