html {
  width: 100%;
}

.hero-content {
  position: relative;
  min-height: 400px;
  background-color: #fff;
  border-bottom: 4px solid #E74C3C;
}

.hero-content-two {
  background-color: #2980B9;
  border-top: 4px solid #2C3E50;
  padding-top: 30px;
}


.hero-content .hero-title {
     color: #2C3E50;
     position: absolute;             /* positioning will be explained in a resource */
     top: 40%;                       /* positioning will be explained in a resource */
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
     width: 100%;                    /* makes sure the title inhabits the full width of its container */
     text-align: center;             /* aligns text in the horizontal center of the element */
     font-size: 2rem;                /* specifies the size of the font in root em units */
     font-weight: 300;               /* makes the font thinner or lighter weight */
     letter-spacing: 0.5rem;         /* puts 0.5 root ems worth of space between each letter */
     text-shadow: 1px 1px 0px #2980B9; /* creates a shadow underneath the text for readability over the image */
 }
@media (max-width: 720px) {
  .hero-content .hero-title {
    font-size: 1.5rem;
  }

  .hero-content {
    padding-top: 25px;
    min-height: 275px;
  }
}
 .selling-points {
    position: relative;
    display: table;
    width: 100%;
    -webkit-box-sizing: border-box;
    -mox-box-sizing: border-box;
    box-sizing: border-box;
 }

 .point {
    display: table-cell; 
    position: relative;
    width: 33.3%;
    padding: 2rem;
    text-align: center;
 }

.col-md-4 .point-title {
  font-size: 1.25rem;
  color: #2C3E50;
}

.point .point-description {
  color: #FFFF9D;
  padding: 20px 10px;
}

.glyphicon-book, 
.glyphicon-time,
.glyphicon-user {
  color: #2C3E50;
  font-size: 5rem;
}
  
.col-md-4 {
  padding-top: 40px;
}

.hero-content .typed-cursor{
    position: absolute;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
 