<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-type" />
    <style type="text/css">
    .article-email {background-color: #022145; color: #fff; min-height: 100px; padding-left: 4rem; padding-right: 4rem; text-align: center; padding-top: 4rem;}
    </style>
  </head>
  <body>
    <h1 class="article-email">New regulations on hrsurvival<br> "<%= @tableofcontent.title %>"</h1>
    <p>
      <%= simple_format @tableofcontent.body[0...300] %>
    </p>
    <p>
            <%= link_to "View new regulations on hrsurvival.com", book_chapter_tableofcontent_url(@tableofcontent.chapter.book, @tableofcontent.chapter, @tableofcontent) %><br><br>
      <%= link_to "Unsubscribe", unsubscribe_email_url(@email) %>

    </p>
  </body>
</html>
